stages:
  - Format
  - Test
  - Release

check-isort:
  stage: Format
  image: registry.cern.ch/docker.io/library/python:3.11
  before_script:
    - pip install --upgrade pip
    - pip install wheel==0.45.1
    - pip install isort==5.13
  script:
    - isort --profile black -c ./bagit_create

check-black:
  stage: Format
  image: registry.cern.ch/docker.io/library/python:3.11
  before_script:
    - pip install --upgrade pip
    - pip install black==24.10
  script:
    - black ./bagit_create --check

test:
  stage: Test
  image: $IMAGE
  parallel:
    matrix:
      - IMAGE: ["registry.cern.ch/docker.io/library/python:3.10", "registry.cern.ch/docker.io/library/python:3.11"]
  script:
    - pip install -e .[tests]
    - INDICO_KEY="$INDICO_KEY" GITLAB_KEY="$GITLAB_KEY" python -m pytest -s --junitxml=path
  artifacts:
    when: always
    reports:
      junit: ./report.xml

create-tag:
  stage: Release
  image: registry.cern.ch/docker.io/library/python:3.11
  variables:
    PRIVATE_TOKEN: "$PRIVATE_TOKEN"
    BRANCH: "$CI_COMMIT_REF_NAME"
    PROJECT_ID: "$CI_PROJECT_ID"
  script:
  - |
      export VERSION=$(grep "__version__" bagit_create/version.py | cut -d'"' -f2)
      echo Version: $VERSION
      curl -f -o gitlab_tags.py "https://gitlab.cern.ch/digitalmemory/oais-platform/-/raw/main/scripts/gitlab_tags.py"
      pip install python-gitlab
      python gitlab_tags.py
  rules:
    # When pushed commit has the version.py file changed (and it is not a tag)
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_TAG == null
      changes:
        - bagit_create/version.py

pypi:
  stage: Release
  image: registry.cern.ch/docker.io/library/python:3.11
  script:
    - pip install -U setuptools twine
    - python setup.py sdist
    - twine upload dist/*
  rules:
    - if: $CI_COMMIT_TAG
  when: manual
